div {
    text-align: center;
    margin-top: 50px;
  }
  
  img {
    width: 180px;
    height: auto;
    margin-bottom: 20px; 
    border-radius: 70%;
  }
  
  h1 {
    color: #000000a4;
    font-size: 2rem;
  }
  .container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 70vh;       
    flex-direction: column;
  }
