div {
    text-align: center;
    margin-top: 50px;
  }
  
  img {
    width: 150px;
    height: auto;
  }
  
  h1 {
    color: #000000a4;
    font-size: 1.5rem;
  }
  .container {
    display: flex;
    justify-content: center; /* Yatayda ortalar */
    align-items: center;    /* Dikeyde ortalar */
    height: 100vh;          /* Kapsayıcıyı ekran boyutunda yapar */
  }
