.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.searchbar{
  width: 70%;
  height: 80px;
  position: relative;
  display: flex;
  left: 10px;
  margin-top: 7px;
  justify-content: space-between;
  align-items: center;
  .search{
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 10px;
    z-index: 2;
    background-color: transparent;
  }
  .add{
    position: absolute;
    cursor: pointer;
    left: 0;
    margin-left: 10px;
    z-index: 2;
    background-color: transparent;
  }
}
mat-paginator{
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.btn{
    border-radius: 30px;
    background-color: #ECE6F0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, revert-layer;
    font-weight: bold;
    border-style: none;
    .new{
      text-align: center;
    }
    .inp{
      text-align: left;
    }
    
    box-shadow: 0 3px #666;
    height: 65%;
    width: 100%;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    transform: scale(1.3);
  }
}